# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trend-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: trend-app
  template:
    metadata:
      labels:
        app: trend-app
    spec:
      containers:
      - name: nginx
        image: saidoc540/trend-app:latest
        ports:
        - containerPort: 80
        imagePullPolicy: Always
